@model Restaurant.BusinessLogic.Implementation.Users.LoginModel

@{
    ViewData["Title"] = "Login";
}


<div class="row h-100 background-image-no-repeat">
    <div class="col-md-4 m-auto p-5 register-card">
        <h1 class="text-center">Sign In</h1>
        @if (Model.AreCredentialsInvalid)
        {
            <div><span style="color:red">Invalid credentials</span></div>
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="my-2 text-center">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="text-center">
                You don't have an account?
            </div>
            <div class="text-center">
                <a asp-action="Register" class="link-a">Register now.</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
