@using Restaurant.BusinessLogic.Implementation.Products.Models
@model IEnumerable<Restaurant.BusinessLogic.Implementation.Products.Models.ViewProductModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
    
@{
    ViewData["Title"] = "Products";
    string queryParamValue = HttpContextAccessor.HttpContext.Request.Query["name"];
}

<h1 class="text-center">Our products</h1>

<div>
    <a class="btn btn-outline-dark" asp-action="CreateProduct" asp-controller="Product" asp-route-restaurantName="@queryParamValue">Create product</a>
</div>

@if (Model.Count() > 0)
{
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="card col-4">
                    <img class="card-img-top-container" src="data:image/png;base64,@Convert.ToBase64String(product.Picture)" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price</p>
                        <p class="card-text">@product.Subcategory</p>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div>
        <h3>There are no products to display.</h3>
    </div>
}

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home Page</a>
</div>

