@model Restaurant.BusinessLogic.Implementation.Restaurants.CreateRestaurantModel
@using Restaurant.Entities.Enums

@{
    ViewData["Title"] = "Create Restaurant";
}

<div class="row p-5">
    <div class="register-card p-0 row shadow-lg">
        <div class="col-md-5">
            <h1 class="text-center mt-3">Add your restaurant</h1>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Picture" class="control-label">Picture</label>
                    <input type="file" id="restaurantPicture" asp-for="Picture" class="form-control" accept="image/*" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 ps-0">
                        <label asp-for="RestaurantTypeId" class="control-label">Restaurant Type</label>
                        <select asp-for="RestaurantTypeId" asp-items="Html.GetEnumSelectList<RestaurantTypeEnum>()" class="form-select"></select>
                        <span asp-validation-for="RestaurantTypeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 pe-0">
                        <label asp-for="CityId" class="control-label">City</label>
                        <select asp-for="CityId" asp-items="Html.GetEnumSelectList<Cities>()" class="form-select"></select>
                        <span asp-validation-for="CityId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Address</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="row d-flex justify-content-around">
                    @for (int i = 0; i < 7; i++)
                    {
                        <div class="form-group col-md-3 mt-3">
                            <div class="text-center fw-bold">@((DayOfWeek)i)</div>
                            <input type="hidden" asp-for="Schedules[i].DayOfWeek" value="@i" />
                            <div class="form-group">
                                <label asp-for="Schedules[i].OpeningTime" class="control-label">From:</label>
                                <input asp-for="Schedules[i].OpeningTime" class="form-control" type="time" value="@Model.Schedules[i].OpeningTime.ToString("HH:mm")" />
                                <span asp-validation-for="Schedules[i].OpeningTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Schedules[i].ClosingTime" class="control-label">To:</label>
                                <input asp-for="Schedules[i].ClosingTime" class="form-control" value="@Model.Schedules[i].ClosingTime.ToString("HH:mm")" type="time" />
                                <span asp-validation-for="Schedules[i].ClosingTime" class="text-danger"></span>
                            </div>
                        </div>
                    }
                </div>

                <div class="form-group text-center my-4">
                    <button type="submit" value="Create" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-7 p-5">
            <div class="img-border" id="restaurantPictureContainer">

            </div>
        </div>
    </div>
    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="module" src="~/js/Restaurant/previewRestaurantPicture.js"></script>
}