html {
    --main-background-color: #fff1de;
    --primary-color: #0f5132;
    --primary-color-hover: #062e1b;
    --secondary-color: #b36321;
    --accent-color: #faac12;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.card-img-top-container {
    width: 100%;
    height: auto;
}

#toast-notification {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10000;
}

.restaurant-card {
    height: 260px;
    margin: 1% 0 1% 0;
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    margin-bottom: 10px;
}

    .restaurant-card:hover {
        background-color: #f7f7f7;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    }

    .restaurant-card:hover h3 {
        color: var(--secondary-color)
    }

.vertical-separator {
    height: 80%;
    width: 1px;
    color: #cfcfcf;
}

.restaurant-card-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.row {
    margin: 0;
}

.register-card {
    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
}

.main-background-color {
    background-color: var(--main-background-color);
}

.background-image {
    background-image: url('/images/registerpagepicture.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.background-image-no-repeat {
    background-image: url('/images/registerpagepicture.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: var(--main-background-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

    .btn-primary:hover {
        background-color: var(--primary-color-hover);
        border-color: var(--primary-color-hover);
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--primary-color);
}

.btn-outline-primary:hover {
    color: white;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.link-a, link-a:visited {
    color: var(--secondary-color);
}

    .link-a:hover {
        color: var(--accent-color);
    }

.nav-item:hover {
    background-color: var(--primary-color);
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--secondary-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

    .btn-outline-secondary:hover {
        color: white;
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

    .btn-check:active + .btn-outline-secondary:focus, .btn-check:checked + .btn-outline-secondary:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus, .btn-outline-secondary:active:focus {
        box-shadow: 0 0 0 .25rem var(--secondary-color);
    }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}

    .icon-link > .bi {
        margin-top: .125rem;
        margin-left: .125rem;
        transition: transform .25s ease-in-out;
        fill: currentColor;
    }

    .icon-link:hover > .bi {
        transform: translate(.25rem);
    }

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--secondary-color) !important;
}

.pagination-card {
    width: 10%;
}

.pagination-button {
    border: none;
    background-color: transparent;
    padding: 2px;
    margin: 2px;
}

.floating-filter-card {
    position: sticky;
    top: 16px;
}

.block-link, .block-link:hover {
    display: block;
    text-decoration: none;
    color: black;
}

.img-border {
    border: 1px solid #cfcfcf;
    height: 100%;
}

.product-card {
    min-height: 700px;
}

.reservation-card {
    max-height: 300px
}

:where(.ui-wheel-of-fortune) {
  --_items: 12;
  all: unset;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  position: relative;
  width: 100%;
  &::after {
    aspect-ratio: 1/cos(30deg);
    background-color: crimson;
    clip-path: polygon(50% 100%,100% 0,0 0);
    content: "";
    height: 4cqi;
    position: absolute;
    place-self: start center;
    scale: 1.4;
  }

  & > * { position: absolute; }

  button {
    aspect-ratio: 1 / 1;
    background: hsla(0, 0%, 100%, .8);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 5cqi;
    place-self: center;
    width: 20cqi;
  }

  ul {
    all: unset;
    clip-path: inset(0 0 0 0 round 50%);
    display: grid;
    inset: 0;
    place-content: center start;

    li {
      align-content: center;
      aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
      background: hsl(calc(360deg / var(--_items) * calc(var(--_idx))), 100%, 75%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      display: grid;
      font-size: 5cqi;
      grid-area: 1 / -1;
      padding-left: 1ch;
      rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
      transform-origin: center right;
      user-select: none;
      width: 50cqi;

      &:nth-of-type(1) { --_idx: 1; }
      &:nth-of-type(2) { --_idx: 2; }
      &:nth-of-type(3) { --_idx: 3; }
      &:nth-of-type(4) { --_idx: 4; }
      &:nth-of-type(5) { --_idx: 5; }
      &:nth-of-type(6) { --_idx: 6; }
      &:nth-of-type(7) { --_idx: 7; }
      &:nth-of-type(8) { --_idx: 8; }
      &:nth-of-type(9) { --_idx: 9; }
      &:nth-of-type(10) { --_idx: 10; }
      &:nth-of-type(11) { --_idx: 11; }
      &:nth-of-type(12) { --_idx: 12; }
    }
  }
}

