@model Restaurant.BusinessLogic.Implementation.Tables.Models.TableModel

@{
    ViewData["Title"] = "Table";
}


<div class="row h-100 bg-light">
    <div class="col-md-4 m-auto p-5 register-card shadow-lg">
        <h1 class="text-center">Create Table</h1>
        <form asp-action="CreateTable" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Name" class="control-label">Table Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Seats" class="control-label">Number Of Seats</label>
                <input asp-for="Seats" type="number" class="form-control" min="1" max="15"/>
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="RestaurantId" value="@Model.RestaurantId" />
            <div class="my-2 text-center">
                <a asp-action="Details" asp-controller="Restaurant" asp-route-id="@Model.RestaurantId" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
