@inject Restaurant.Common.DTOs.CurrentUserDTO CurrentUser

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - StaiJos</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/dualRangeSlider.css" asp-append-version="true" />
</head>
<body>
	<div class="d-flex flex-row h-100">
		<div class="d-flex flex-column col-md-2 col-sm-4 flex-shrink-0 p-3 sidebarContainer">
			<a asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 mx-auto text-decoration-none">
				<img src="~/images/logo.png" class="sidebarLogo mx-auto" />
			</a>
			<hr style="color: white">
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a asp-action="Index" asp-controller="Home" class="nav-link text-white">
						<i class="bi bi-house-door"></i>
						Home
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="Index" asp-controller="Restaurant" class="nav-link text-white">
						<i class="bi bi-cup-straw"></i>
						Restaurants
					</a>
				</li>
				@if (CurrentUser.IsAuthenticated)
				{
					<li class="nav-item">
						<a asp-action="Index" asp-controller="Reservation" class="nav-link text-white">
							<i class="bi bi-clock"></i>
							Reservations
						</a>
					</li>
					@if (CurrentUser.Role == "Admin")
					{
						<li class="nav-item">
							<a asp-action="Index" asp-controller="Admin" class="nav-link text-white">
								<i class="bi bi-speedometer2"></i>
								Admin Dashboard
							</a>
						</li>
					}
				}
			</ul>
			<hr>
			<div class="dropdown">
				<hr style="color: white">
				<a href="#" class="d-flex align-items-center text-white text-decoration-none row" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
					<div class="col-3">
						<img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="" width="100%" height="auto" class="rounded-circle">
					</div>
					
					@if (CurrentUser.IsAuthenticated)
					{
						<strong class="profile-name col-7 flex-shrink-1">@CurrentUser.Name</strong>
					}
					else
					{
						<strong class="col-7">Profile</strong>
					}
					<div class="col-1"><i class="bi bi-chevron-compact-down"></i></div>

				</a>
				<ul class="dropdown-menu dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
					@if (CurrentUser.IsAuthenticated)
					{
						<li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#userDetailsModal">Profile</button></li>
						<li><hr class="dropdown-divider"></li>
						<li><a asp-action="Logout" asp-controller="User" class="dropdown-item">Sign out</a></li>
					}
					else
					{
						<li><a asp-action="Login" asp-controller="User" class="dropdown-item">Sign in</a></li>
						<li><a asp-action="Register" asp-controller="User" class="dropdown-item">Register</a></li>
					}

				</ul>
			</div>
		</div>
		<div class="flex-column col-md-10 col-sm-8 overflow-auto">
			@await Html.PartialAsync("../User/Details.cshtml")
			@RenderBody()
		</div>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
